body{
  font-family: 'Europa', sans-serif;
  background: url(https://succulents.qodeinteractive.com/wp-content/uploads/2018/03/landing-background-leaves-4.jpg);
}
.logo{
  font-family: 'Dancing Script';
  color: rgb(255, 81, 0) !important;
  font-size: 2em;
}
.fa-utensils{
  font-size: 0.85em !important;
}
.add-recipe-btn{
  text-decoration: underline rgb(255, 81, 0);
  margin: 10px auto;
  background-color: #efefef !important;
  color: black !important;
  border: 10px solid #efefef !important;
}

form{
  padding: 20px;
}
.newInputtedRecipes{
  border: 1px solid white;
  padding: 20px;
}
.addRecipe{
  display: flex;
}
.container{
  margin: auto;
   max-width: 1000px;
  display: grid;
  grid-gap: 5px;
  columns: 2 auto;
  grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
  cursor: pointer;
}
.card{
  background-color: transparent;
  margin: 5px;
  margin: auto;
  padding: 3px;
  border: transparent;
  padding: 20px;

}
.card-image{
   width: 100%;
  display: block;
  height: 160px;
  cursor: pointer;
}
.card-foot{
  text-decoration: underline;
}
.toggle{
  border: none;
}
.servings{
  font-size: 0.75em;
}